<IfModule mod_rewrite.c>
RewriteEngine On

Options -Indexes
Options -MultiViews
ErrorDocument 404 http://localhost:8080/usa/404
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^([\w/-]+)$ index.php?url=$1 [QSA,L]
</IfModule>
